/* write your override styles here */
#wall .tag-1 {
    display: none;
  }

  /*0,1,0,0*/
#tag-2{
    display: none !important;
}

/*0,1,1,0*/
 .tag-3 #slick-wicked {
    display: none;
  }

/*0,1,1,0*/
  .parent #tag-4 {
    display: none !important;
  }

  /*0,2,2,2*/
  body div#wall .parent #tag-5.slick {
    display: none;
  }

  .parent #tag-6 {
    display: none !important;
  }

  .parent div #tag-7 {
    display: none !important;
  }